.task {
  margin: 10px;
  padding: 5px;
  background: #f2a286;
  border: 2px solid green;
  border-radius: 5px;
  list-style: none;
 }
.tasks {
  counter-reset: tasks;
}
.task::before {
  counter-increment: tasks;
  content: counter(tasks) ".";
  margin-right: 10px;
}
